* {
  /* border: 1px solid red; */
  box-sizing: border-box;
  font-family: "GmarketMedium";
}

body {
  padding: 150px;
  background: rgb(225, 243, 249);
}

/* Header/Blog Title */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px 60px 5px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#web-logo{
  width: 80px;
  height: 80px;
  margin-left: 100px;
}

/* 상단 메뉴 */
nav{
  height: 100px ;
}

.nav-list{
  display: flex;
  padding: 0;
  justify-content:right;
}

li a{
  text-decoration: none;
  font-size: 30px;
  color: inherit;
}

.list-link{
    margin-left: 50px;
}

.list-link:hover{
  color:rgb(28, 194, 249);
  border-bottom: 2px solid  rgb(28, 194, 249);
}

.intro{
  display: flex;
  justify-content: center;
}

#homepicture{
  width: 300px;
  margin-right: 30px;
}

.mvtxt{
  width: 620px;
  margin: 80px 40px;
  font-size: 37px;
  line-height: 58px;
  padding: 0;
  font-weight: bold;
}


.about-page{
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  font-size: 23px;
  margin-top: 80px;
  font-weight: 600;
}


/* profile page */

.profile-info{
  display: flex;
  margin: 0 auto;
}

#profile{
  width: 270px;
  margin-left: 200px;
}

.profile-about{
  margin: 0 0 0 230px;
  background-color: white;
  padding-top: 35px;
  border-radius: 20px;
}

.txt-about{
  margin: 30px 30px;
}

.txt-about dt {
  display: inline-block;
  margin-bottom: 17px;
  width: 110px;
  font-size: 22px;
  font-family: "GmarketBold";
  color:  rgb(28, 194, 249);
}
.txt-about dd{
  display: inline-block;
  font-size: 25px;
}

/* mylife-page */

.mylife-page{
  margin-top: 50px;
}

.sticker-area img {
  display: inline-block;
  width: 250px;
  margin: 20px;
  margin-left: 210px;
  margin-right: 210px;
}

.vacation-plan{
  display: flex;
  justify-content: space-around;
}

.vacation-plan li{
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.summer-vaca, .winter-vaca{
  width: 350px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

.study{
  margin-top: 70px;
  padding: 30px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.youtube{
  display: flex;
  justify-content: space-around;
}

iframe{
  border-radius: 20px;
  width: 500px;
  height: 400px;
}